services:
  nexus:
    image: "{{ nexus_image }}"
    container_name: "{{ nexus_container_name }}"
    restart: "{{ nexus_restart_policy }}"

    environment:
      TZ: "{{ nexus_timezone }}"

    volumes:
      - "{{ nexus_data_dir }}:/nexus-data"

    ports:
      - "{{ nexus_http_port }}:8081"
      - "{{ nexus_docker_hosted_port }}:8082"
      - "{{ nexus_docker_proxy_port }}:8083"
      - "{{ nexus_docker_group_port }}:8084"

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ nexus_network }}"

      - "traefik.http.routers.nexus.rule=Host(`{{ nexus_domain }}`)"
      - "traefik.http.routers.nexus.entrypoints=websecure"
      - "traefik.http.routers.nexus.tls=true"

      - "traefik.http.services.nexus.loadbalancer.server.port=8081"

    networks:
      - "{{ nexus_network }}"

networks:
  "{{ nexus_network }}":
    external: true
